@font-face {
  font-family: "Euclid Flex";
  src: url("../assets/fonts/EuclidFlex-Light.woff2") format("woff2"),
    url("../assets/fonts/EuclidFlex-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("../assets/fonts/EuclidFlexMedium.woff2") format("woff2"),
    url("../assets/fonts/EuclidFlex-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Flex";
  src: url("../assets/fonts/EuclidFlex-Bold.woff2") format("woff2"),
    url("../assets/fonts/EuclidFlex-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
