@use "variables" as *;

body {
  font-family: $font-family-base;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $color-gray;
}

.container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
