@use "sass:map";
@use "./_variables.scss" as *;

@mixin mq($size) {
  $value: map.get($breakpoints, $size);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn 'Breakpoint "#{$size}" не найден';
  }
}
