.home {
  padding: 20px;
  &__list {
    display: grid;
    justify-content: center;
    gap: 30px;
  }

  @include mq("lg") {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include mq("md") {
    &__list {
    }
  }
}
