.link {
  padding: 16px 50px;
  color: white;
  background-color: $color-red;
  font-family: $font-family-roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover,
  &:focus-visible {
    outline: none;
    background-color: $color-main-red;
  }
  &:active {
    background-color: $color-red;
  }
}
